/*Navbar*/
.navbar-brand p {
	font-family: viga;
	font-size: 20px;
	color: blueviolet;
}

.navbar-nav span {
	color: white;
}

/*Jumbotron*/
.carousel-item {
	background-size: cover;
	text-align: center;
	position: relative;
}

.carousel-item {
	position: relative;
	z-index: -1;
}

/*Panel Info*/
.panelinfo {
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	border-radius: 3px;
	background-color: white;
	margin-top: -40px;
	padding: 10px;
}

.panelinfo img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.panelinfo h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
}

.panelinfo p {
	font-size: 12px;
	color: #ACACAC;
	margin-top: -5px;
	font-weight: 100;
}

/* produk card */
.card {
	margin-top: 30px;
}

/* checkout */
.checkout {
	margin-top: 30px;
}

/*Footer*/
.footer {
	margin-top: 100px;
	text-align: center;
	background-color: grey;
	padding: 20px 20px ;

}
.footer p{
	color: #ACACAC;
	font-size:15px;
}




/*Dekstop Version*/
@media (min-width: 992px) {

	.navbar-brand, .nav-link {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7)
	}

	.nav-link {
	text-transform: capitalize;
	margin-right: 5px;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #0B63DC;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.carousel-item {
			margin-top: -50px !important;
			height: 375px;
	}



	
}